.search {
  position: absolute;
  top: 36px;
  left: 0;
  width: contain;
  z-index: 99;
}

/* .rdrDefinedRangesWrapper {
  width: 100% !important; 
}*/
.rdrDateRangePickerWrapper {
  width: 483px !important;
}

.search__guests {
  background: #fff !important;
  position: absolute;
  left: 0;
  top: 360px;
  padding-bottom: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search__guests > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 460px;
  padding: 10px;
  background: #fff;
}

.search__guests > input {
  width: 440px;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  margin-left: 10px;
  margin-bottom: 10px;
}

.search__guests > Button {
  margin-left: 10px;
  text-transform: inherit !important;
  background: #ff7779;
  color: #fff;
  width: 462px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.search__guests > Button:hover {
  background: #d86e70;
}

/* Media query  */

@media (min-width: 768px) {
  .search {
    left: 30%;
    width: 50vw;
  }
}

@media (min-width: 992px) {
  .search {
    left: 45%;
  }
}
@media (min-width: 1500px) {
  .search {
    left: 50%;
  }
}
